{% extends 'base.html' %}

{% block content %}
      <div class="page">
        <h1>About</h1>
        <div class="row">
          <div class="col-md-12">
            <p>We promote and support the research, development and use of Python software in DC, Maryland and Virginia. We support the education of all Python users by organizing and hosting frequent instructional events to foster and facilitate academic research, development and learning as well as professional growth and networking.</p>
          </div>
        </div>
        <div class="row"> 
          <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Meetup</h3>
                <p class="card-text">DC Python Meetup</p>
                <a target="_blank" href="https://www.meetup.com/dcpython/events/240449405/" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Chat Logs</h3>
                <p class="card-text">IRC Chat Logs</p>
<!--                <a target="_blank" href="http://chat-logs.dcpython.org" class="btn btn-primary">View</a> -->
                <button class="btn btn-primary" disabled>View</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Code of Conduct</h3>
                <p class="card-text">Please adhere to these guidelines when participating in the DC Python community.</p>
                  <a target="_blank" href="{% url 'code-of-conduct' %}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Team</h3>
                <p class="card-text">DC Python is run by volunteers and a board of directors.</p>
                <a href="{% url 'team' %}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
