{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <h1>Donate</h1>
        <div class="row">
          <div class="col-md-12">
            <p>Please send PayPal (<a href="https://www.paypal.com">www.paypal.com</a>) donations to: <a href="mailto:zpugdc@gmail.com">zpugdc@gmail.com</a> or you may send a check made out to: ZPUGDC, Inc. Please <a href="mailto:board@dcpython.org">contact us</a> for address information.</p></p>Thank you for your generous support!</p>
          </div>
        </div>
{% endblock %}
{% block background %}
{% endblock %}
{% block js %}
    <script src="{% static 'dcpython-website.js' %}"></script>
{% endblock %}
