{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <div class="alert alert-info" role="alert">
          <strong>Coming soon!</strong> Please send Pay Pal (www.paypal.com) donations to: zpugdc@gmail.com or you may send a check made out to: ZPUGDC, INC. Please contact us for address information. Thank you for your generous support!
        </div>
{% endblock %}
{% block background %}
{% endblock %}
{% block js %}
    <script src="{% static 'dcpython-website.js' %}"></script>
{% endblock %}
