{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="home">
          <!-- https://v4-alpha.getbootstrap.com/content/images/#responsive-images -->
          <img class="img-fluid" src="{% static 'dcpython-logo.png' %}">  <!-- Via David G. -->
          <p class="lead"><strong>We promote the research and development of Python Software and the education of its users.</strong></p>
          <a href="{% url 'about' %}">Learn more <i class="fa fa-chevron-circle-right"></i></a>
        </div>
        <h1>Upcoming Events</h1>
        <div class="row">
        {% for event in events %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">{{ event.name }}</h3>
                <h4 class="text-info">{{ event.when }}</h4>
                <p class="card-text">{{ event.description|safe }}</p>
                <a target ="_blank" href="{{ event.link }}" class="btn btn-primary">View on Meetup</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
{% endblock %}
