{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="home">
          <!-- https://v4-alpha.getbootstrap.com/content/images/#responsive-images -->
          <img class="img-fluid" src="{% static 'dcpython-logo.png' %}">  <!-- Via David G. -->
          <p class="lead">We promote the research and development of Python Software and the education of its users.</p>
          <a href="{% url 'about' %}">Learn more <i class="fa fa-chevron-circle-right"></i></a>
        </div>
        <h1>Upcoming Events</h1>
        <div class="alert alert-info" role="alert">
            <strong>Coming soon!</strong> We're integrating Meetup events here soon, via the Meetup API.
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
{% endblock %}
